# Visual Studio
.vs/
*.user
*.suo
*.backup
*.xlsx
*.xls

# Compilados
obj/
bin/

# Credenciales — NUNCA subir esto
appsettings.Development.json

# Node (para cuando se agregue el frontend)
node_modules/
.env.local