--
-- PostgreSQL database dump
--

\restrict YiRWFNXllkub9GBthorHbaXHlb07gTuf72morWCQaS8diEPBh1oBGtTobwInEhe

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Bancos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Bancos" (
    "Id" integer NOT NULL,
    "Nombre" text NOT NULL,
    "Direccion" text,
    "Telefono" text,
    "CreadoEn" timestamp with time zone NOT NULL
);


--
-- Name: Bancos_Id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Bancos" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Bancos_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: BitacoraCambios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."BitacoraCambios" (
    "Id" integer NOT NULL,
    "ExpedienteId" integer NOT NULL,
    "UsuarioId" integer NOT NULL,
    "Accion" text NOT NULL,
    "Detalle" text,
    "Fecha" timestamp with time zone NOT NULL
);


--
-- Name: BitacoraCambios_Id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."BitacoraCambios" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."BitacoraCambios_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: EtapasCatalogo; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."EtapasCatalogo" (
    "Id" integer NOT NULL,
    "Nombre" text NOT NULL,
    "TipoJuicio" text,
    "TerminoDias" integer,
    "EsDiasHabiles" boolean NOT NULL,
    "Orden" integer NOT NULL
);


--
-- Name: EtapasCatalogo_Id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."EtapasCatalogo" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."EtapasCatalogo_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Expedientes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Expedientes" (
    "Id" integer NOT NULL,
    "NumeroExpediente" text NOT NULL,
    "ParteDemandada" text NOT NULL,
    "BancoId" integer,
    "Juzgado" text,
    "Materia" text,
    "TipoJuicio" text,
    "Estado" text NOT NULL,
    "Prioridad" text NOT NULL,
    "UsuarioAsignadoId" integer,
    "ExpedienteRelacionadoId" integer,
    "Notas" text,
    "CreadoEn" timestamp with time zone NOT NULL,
    "ActualizadoEn" timestamp with time zone NOT NULL,
    "CreadoPorId" integer NOT NULL,
    "AccionPendiente" text,
    "EtapaActual" text
);


--
-- Name: Expedientes_Id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Expedientes" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Expedientes_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: HistorialEtapas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."HistorialEtapas" (
    "Id" integer NOT NULL,
    "ExpedienteId" integer NOT NULL,
    "EtapaCatalogoId" integer,
    "FechaInicio" timestamp with time zone NOT NULL,
    "FechaLimite" timestamp with time zone,
    "FechaCompletada" timestamp with time zone,
    "Atendido" boolean NOT NULL,
    "RegistradoPorId" integer NOT NULL,
    "Notas" text
);


--
-- Name: HistorialEtapas_Id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."HistorialEtapas" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."HistorialEtapas_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Notificaciones; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Notificaciones" (
    "Id" integer NOT NULL,
    "ExpedienteId" integer NOT NULL,
    "HistorialEtapaId" integer,
    "Mensaje" text NOT NULL,
    "Canal" text NOT NULL,
    "DestinatarioEmail" text,
    "Enviada" boolean NOT NULL,
    "FechaEnvio" timestamp with time zone,
    "CreadoEn" timestamp with time zone NOT NULL,
    "DiasAnticipacion" integer DEFAULT 0 NOT NULL
);


--
-- Name: Notificaciones_Id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Notificaciones" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Notificaciones_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Usuarios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Usuarios" (
    "Id" integer NOT NULL,
    "Nombre" text NOT NULL,
    "Email" text NOT NULL,
    "PasswordHash" text NOT NULL,
    "Rol" text NOT NULL,
    "Activo" boolean NOT NULL,
    "CreadoEn" timestamp with time zone NOT NULL
);


--
-- Name: Usuarios_Id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Usuarios" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Usuarios_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


--
-- Data for Name: Bancos; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Bancos" ("Id", "Nombre", "Direccion", "Telefono", "CreadoEn") FROM stdin;
1	BBVA M├®xico	\N	800-226-2663	2026-06-09 09:18:27.970178-07
2	HSBC	\N	800-712-4722	2026-06-09 09:18:27.970251-07
3	Santander	\N	800-501-0000	2026-06-09 09:18:27.970251-07
4	Banco Azteca	\N	800-912-3456	2026-06-09 09:18:27.970251-07
\.


--
-- Data for Name: BitacoraCambios; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."BitacoraCambios" ("Id", "ExpedienteId", "UsuarioId", "Accion", "Detalle", "Fecha") FROM stdin;
12	1022	2	cambiar_prioridad	Prioridad: 'Normal' ÔåÆ 'Urgente'	2026-06-19 23:57:42.406987-07
\.


--
-- Data for Name: EtapasCatalogo; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Expedientes; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: HistorialEtapas; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Notificaciones; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Notificaciones" ("Id", "ExpedienteId", "HistorialEtapaId", "Mensaje", "Canal", "DestinatarioEmail", "Enviada", "FechaEnvio", "CreadoEn", "DiasAnticipacion") FROM stdin;
\.


--
-- Data for Name: Usuarios; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Usuarios" ("Id", "Nombre", "Email", "PasswordHash", "Rol", "Activo", "CreadoEn") FROM stdin;
1	Socio Principal	socio@despacho.com	$2a$11$.Fi2nGgl.t3eZ4Gkb9LDPOrrA/iqwNeyoyZaAGx8FK77H1WlqnaOO	Socio	t	2026-06-09 09:18:27.356759-07
2	Carlos	carlos@despacho.com	$2a$11$0Aorb1YtWHzrtgKJXYfHv.l53pjitCqwUmN9sT3rZylnXPsMe2C0q	Litigante	t	2026-06-09 09:18:27.653501-07
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20260609001305_InitialCreate	10.0.8
20260613161532_AgregarDiasAnticipacionANotificaciones	10.0.8
20260616200908_AgregarEtapaActualYAccionPendiente	10.0.8
\.


--
-- Name: Bancos_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Bancos_Id_seq"', 4, true);


--
-- Name: BitacoraCambios_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."BitacoraCambios_Id_seq"', 12, true);


--
-- Name: EtapasCatalogo_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."EtapasCatalogo_Id_seq"', 120, true);


--
-- Name: Expedientes_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Expedientes_Id_seq"', 1222, true);


--
-- Name: HistorialEtapas_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."HistorialEtapas_Id_seq"', 4383, true);


--
-- Name: Notificaciones_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Notificaciones_Id_seq"', 2, true);


--
-- Name: Usuarios_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Usuarios_Id_seq"', 2, true);


--
-- Name: Bancos PK_Bancos; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Bancos"
    ADD CONSTRAINT "PK_Bancos" PRIMARY KEY ("Id");


--
-- Name: BitacoraCambios PK_BitacoraCambios; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BitacoraCambios"
    ADD CONSTRAINT "PK_BitacoraCambios" PRIMARY KEY ("Id");


--
-- Name: EtapasCatalogo PK_EtapasCatalogo; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."EtapasCatalogo"
    ADD CONSTRAINT "PK_EtapasCatalogo" PRIMARY KEY ("Id");


--
-- Name: Expedientes PK_Expedientes; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Expedientes"
    ADD CONSTRAINT "PK_Expedientes" PRIMARY KEY ("Id");


--
-- Name: HistorialEtapas PK_HistorialEtapas; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."HistorialEtapas"
    ADD CONSTRAINT "PK_HistorialEtapas" PRIMARY KEY ("Id");


--
-- Name: Notificaciones PK_Notificaciones; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Notificaciones"
    ADD CONSTRAINT "PK_Notificaciones" PRIMARY KEY ("Id");


--
-- Name: Usuarios PK_Usuarios; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Usuarios"
    ADD CONSTRAINT "PK_Usuarios" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: IX_BitacoraCambios_ExpedienteId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_BitacoraCambios_ExpedienteId" ON public."BitacoraCambios" USING btree ("ExpedienteId");


--
-- Name: IX_BitacoraCambios_UsuarioId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_BitacoraCambios_UsuarioId" ON public."BitacoraCambios" USING btree ("UsuarioId");


--
-- Name: IX_Expedientes_BancoId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_Expedientes_BancoId" ON public."Expedientes" USING btree ("BancoId");


--
-- Name: IX_Expedientes_CreadoPorId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_Expedientes_CreadoPorId" ON public."Expedientes" USING btree ("CreadoPorId");


--
-- Name: IX_Expedientes_ExpedienteRelacionadoId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_Expedientes_ExpedienteRelacionadoId" ON public."Expedientes" USING btree ("ExpedienteRelacionadoId");


--
-- Name: IX_Expedientes_UsuarioAsignadoId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_Expedientes_UsuarioAsignadoId" ON public."Expedientes" USING btree ("UsuarioAsignadoId");


--
-- Name: IX_HistorialEtapas_EtapaCatalogoId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_HistorialEtapas_EtapaCatalogoId" ON public."HistorialEtapas" USING btree ("EtapaCatalogoId");


--
-- Name: IX_HistorialEtapas_ExpedienteId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_HistorialEtapas_ExpedienteId" ON public."HistorialEtapas" USING btree ("ExpedienteId");


--
-- Name: IX_HistorialEtapas_RegistradoPorId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_HistorialEtapas_RegistradoPorId" ON public."HistorialEtapas" USING btree ("RegistradoPorId");


--
-- Name: IX_Notificaciones_ExpedienteId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_Notificaciones_ExpedienteId" ON public."Notificaciones" USING btree ("ExpedienteId");


--
-- Name: IX_Notificaciones_HistorialEtapaId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_Notificaciones_HistorialEtapaId" ON public."Notificaciones" USING btree ("HistorialEtapaId");


--
-- Name: BitacoraCambios FK_BitacoraCambios_Expedientes_ExpedienteId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BitacoraCambios"
    ADD CONSTRAINT "FK_BitacoraCambios_Expedientes_ExpedienteId" FOREIGN KEY ("ExpedienteId") REFERENCES public."Expedientes"("Id") ON DELETE CASCADE;


--
-- Name: BitacoraCambios FK_BitacoraCambios_Usuarios_UsuarioId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BitacoraCambios"
    ADD CONSTRAINT "FK_BitacoraCambios_Usuarios_UsuarioId" FOREIGN KEY ("UsuarioId") REFERENCES public."Usuarios"("Id") ON DELETE CASCADE;


--
-- Name: Expedientes FK_Expedientes_Bancos_BancoId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Expedientes"
    ADD CONSTRAINT "FK_Expedientes_Bancos_BancoId" FOREIGN KEY ("BancoId") REFERENCES public."Bancos"("Id");


--
-- Name: Expedientes FK_Expedientes_Expedientes_ExpedienteRelacionadoId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Expedientes"
    ADD CONSTRAINT "FK_Expedientes_Expedientes_ExpedienteRelacionadoId" FOREIGN KEY ("ExpedienteRelacionadoId") REFERENCES public."Expedientes"("Id") ON DELETE SET NULL;


--
-- Name: Expedientes FK_Expedientes_Usuarios_CreadoPorId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Expedientes"
    ADD CONSTRAINT "FK_Expedientes_Usuarios_CreadoPorId" FOREIGN KEY ("CreadoPorId") REFERENCES public."Usuarios"("Id") ON DELETE RESTRICT;


--
-- Name: Expedientes FK_Expedientes_Usuarios_UsuarioAsignadoId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Expedientes"
    ADD CONSTRAINT "FK_Expedientes_Usuarios_UsuarioAsignadoId" FOREIGN KEY ("UsuarioAsignadoId") REFERENCES public."Usuarios"("Id") ON DELETE SET NULL;


--
-- Name: HistorialEtapas FK_HistorialEtapas_EtapasCatalogo_EtapaCatalogoId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."HistorialEtapas"
    ADD CONSTRAINT "FK_HistorialEtapas_EtapasCatalogo_EtapaCatalogoId" FOREIGN KEY ("EtapaCatalogoId") REFERENCES public."EtapasCatalogo"("Id");


--
-- Name: HistorialEtapas FK_HistorialEtapas_Expedientes_ExpedienteId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."HistorialEtapas"
    ADD CONSTRAINT "FK_HistorialEtapas_Expedientes_ExpedienteId" FOREIGN KEY ("ExpedienteId") REFERENCES public."Expedientes"("Id") ON DELETE CASCADE;


--
-- Name: HistorialEtapas FK_HistorialEtapas_Usuarios_RegistradoPorId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."HistorialEtapas"
    ADD CONSTRAINT "FK_HistorialEtapas_Usuarios_RegistradoPorId" FOREIGN KEY ("RegistradoPorId") REFERENCES public."Usuarios"("Id") ON DELETE CASCADE;


--
-- Name: Notificaciones FK_Notificaciones_Expedientes_ExpedienteId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Notificaciones"
    ADD CONSTRAINT "FK_Notificaciones_Expedientes_ExpedienteId" FOREIGN KEY ("ExpedienteId") REFERENCES public."Expedientes"("Id") ON DELETE CASCADE;


--
-- Name: Notificaciones FK_Notificaciones_HistorialEtapas_HistorialEtapaId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Notificaciones"
    ADD CONSTRAINT "FK_Notificaciones_HistorialEtapas_HistorialEtapaId" FOREIGN KEY ("HistorialEtapaId") REFERENCES public."HistorialEtapas"("Id");


--
-- PostgreSQL database dump complete
--

\unrestrict YiRWFNXllkub9GBthorHbaXHlb07gTuf72morWCQaS8diEPBh1oBGtTobwInEhe

